/*categorias*/
.titulo-categoria{
    padding-left: 40px;
}


/*carrito*/
.icon-cart{
    width: 60px;
    color: black;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}

.container-icon{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
    color: black;

}

.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}

.container-cart-icon{
    position: relative;
}


/* info productos*/
.info-producto {
    text-decoration: none;
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    background: #fff;
    color: #000;
    border-radius: 10px;
}

.info-producto a {
    color: white;
    text-decoration: none;
}

.btn-add-cart{
    color: white;
    
}

/*categorias/productos*/
.container-categorias{
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-bottom: 20px;
    margin-left: 4%;
    margin-right: 4%;

}

.item-categorias{
    border-radius: 10px;
    padding-bottom: 20px;

}
.item-categorias :hover {
    box-shadow: 0 10px 20px rgba( 0,0,0,0.20);  
}


.item-categorias figure{
    overflow: hidden;
}

.item-categorias button{
    width: 100%;
    height: 40px;
    background: #107acc;
    border: none;
    color: black; 
    margin-bottom: 16px;
    cursor: pointer;
    border-radius: 8px;
}

/*imagen*/
.img-categ{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    aspect-ratio: auto 1/1;
}



@media (max-width:1358){
    .encabezado-categ h1{
        padding-top: 500px;
    }
}
