.catg-sin img{
    width: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.catg-sin{
    color: black;
    text-align: center;
    font-size: 22px;
    padding-top: 50px;
    padding-bottom: 50px;

}